{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<h1 style="text-align: center; font-size: 49px; font-family: 'Girassol', cursive; color: crimson;">Mon blog</h1>
{% endblock %}
