{% extends "base.html.twig" %}

{% block title %}detaiks de l'article{% endblock %}

{% block body %}
	<div class="card">
		<header class="card-header" style="background-color: crimson;">
			<p class="card-header-title">
				Component
			</p>
			<a href="#" class="card-header-icon" aria-label="more options">
				<span class="icon">
					<i class="fas fa-angle-down" aria-hidden="true"></i>
				</span>
			</a>
		</header>
		<div class="card-content">
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
				<a href="#">@bulmaio</a>.
				<a href="#">#css</a>
				<a href="#">#responsive</a>
				<br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis doloremque recusandae distinctio a error beatae quas, vitae molestias
                incidunt! Quos debitis quasi culpa recusandae! Incidunt maxime cumque ducimus itaque porro.Eligendi molestias sint sunt voluptatum 
                similique dolore dignissimos dicta repellendus, quia totam cum corporis
                cumque exercitationem corrupti nobis! Possimus, vel unde? Similique nemo laboriosam accusantium quia natus nobis. Reiciendis, maxime!</p>
			</div>
        </div>
	</div>
{% endblock %}
